<table class="pm-chart-layout">
	<tbody>
		<tr>
			<td colspan="3" class="pm-legend">
				<div style="float:right;">
					<div style="margin-right:3px;display:inline-block;">
						<span>This Node</span>
						<div class="pm-legend-specific" style="display:inline-block;vertical-align:middle;height:2px;width:25px;"> </div>
					</div>
					<div style="display:inline-block;">
						<span>Global</span>
						<div style="display:inline-block;vertical-align:baseline;height:10px;width:25px;"> 
							<div class="pm-legend-global pm-legend-global-outer"></div>
							<div class="pm-legend-global pm-legend-global-inner"></div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="pm-y-max-label pm-chart-axis-label">
				100
			</td>
			<td rowspan="2" colspan="2">
				<div class="pm-chart-plot-wrapper" style="height:80px;">
					<svg height="80" width="250">
						<g class="pm-distribution-graph-container"></g>
						<g class="pm-specific-graph-container"></g>
					</svg>
				</div>
			</td>
		</tr>
		<tr>
			<td class="pm-y-min-label pm-chart-axis-label">
				0
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="pm-x-min-label pm-chart-axis-label">
				-24h
			</td>
			<td class="pm-x-max-label pm-chart-axis-label">
				now
			</td>
		</tr>
	</tbody>
</table>
<div class="pm-specific-search-message-container pm-search-message-container"></div>
<div class="pm-distribution-search-message-container pm-search-message-container"></div>
