<div style="display: none;" class="pm-tooltip-content pm-tooltip-background"> <!-- DV - Modified -->
	<table style="float:left;clear:both;">
		<tbody>
			<tr>
				<td>
					<div class="pm-tooltip-button-container">
						<ul style="list-style:none;margin:0px;">
							<li style="margin-bottom:4px;">
								<div class="pm-tooltip-icon-circle pm-tooltip-action-pin">
									<span class="noel-icon-push_pin pm-tooltip-icon"></span>
								</div>
							</li>
							<li>
								<div class="pm-tooltip-icon-circle pm-tooltip-action-drill">
									<span class="icon-arrow-right pm-tooltip-icon"></span>
								</div>
							</li>
						</ul>
					</div>
				</td>
				<td>
					<div class="pm-tooltip-text-container">
						<div class="pm-tooltip-text pm-tooltip-title">
							NODE NAME
						</div>
						<div class="pm-tooltip-text pm-tooltip-subtitle">
							<span class="pm-tooltip-timerange-length">XX</span>
							<span> Distribution - </span>
							<span class="pm-tooltip-metric">XXXX</span>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pm-tooltip-chart-container">
		CHART GOES HERE!
	</div>
</div>
