<div class="proactive-monitoring-tree-controls-container">
	<table>
		<tbody>
			<tr>
				<td style="vertical-align: top;">
					<div class="pm-tree-button-container">
						<ul style="list-style:none;margin:0px;">
							<li style="margin-bottom:4px;">
								<div class="pm-tree-icon-circle pm-tree-action-zoomin" title="Zoom In">
									<span class="icon-plus pm-tree-icon"></span>
								</div>
							</li>
							<li style="margin-bottom:4px;">
								<div class="pm-tree-icon-circle pm-tree-action-zoomout" title="Zoom Out">
									<span class="icon-minus pm-tree-icon"></span>
								</div>
							</li>
							<li>
								<div class="pm-tree-icon-circle pm-tree-action-center" title="Center View">
									<span class="icon-location pm-tree-icon"></span>
								</div>
							</li>
						</ul>
					</div>
				</td>
				<td class="pm-tree-legend-container" style="display:none;">
					<ul style="list-style:none;margin:0px;">
						<li style="margin-bottom:4px;">
							<div class="pm-tree-legend-circle pm-tree-legend-critical"></div>
							<span class="pm-tree-legend-label">Critcal Threshold </span>
							<span class="pm-tree-legend-label pm-tree-legend-comparator"></span>
							<span class="pm-tree-legend-label pm-tree-legend-critical"></span>
						</li>
						<li style="margin-bottom:4px;">
							<div class="pm-tree-legend-circle pm-tree-legend-warning"></div>
							<span class="pm-tree-legend-label">Warning Threshold </span>
							<span class="pm-tree-legend-label pm-tree-legend-comparator"></span>
							<span class="pm-tree-legend-label pm-tree-legend-warning"></span>
						</li>
						<li style="margin-bottom:4px;">
							<div class="pm-tree-legend-circle pm-tree-legend-normal"></div>
							<span class="pm-tree-legend-label">Normal Threshold</span>
						</li>
						<li>
							<div class="pm-tree-legend-circle pm-tree-legend-unknown"></div>
							<span class="pm-tree-legend-label">Unknown/Offline</span>
						</li>
					</ul>
				</td>
				<td class="pm-tree-legend-undefined-container">
					<ul style="list-style:none;margin:0px;">
						<!--<li style="margin-bottom:4px;">
							<div class="alert alert-warning">
								<i class="icon-alert"></i>
								No threshold data for selected metric
							</div>
						</li>
						<li>
							<div class="pm-tree-legend-circle pm-tree-legend-unknown"></div>
							<span class="pm-tree-legend-label">Unknown/Offline</span>
						</li>-->
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
